<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>
	<body>
		<h1>hello world</h1>
		<div id="app">
			<p v-if="message.length % 2 === 0">Even: {{ message.toUpperCase() }}</p>
			<p v-else>Odd: {{ message }}</p>
			<ul>
				<li
					v-for="person in cast"
					:class="{fav: person.isFav}"
					@click="toggleFav(person)"
				>
					<p>{{person.name}} as {{person.role}}</p>
					<p v-if="person.sex === 'F'">Woman</p>
					<p v-else>Man</p>
				</li>
			</ul>
		</div>
		<script>
			const { createApp } = Vue;
			const app = createApp({
				data() {
					return {
						message: "Hello It works",
						tvTitle: "Homeland TV Series",
						cast: [
							{
								name: "Claire Danes",
								role: "Carrie Mathison",
								isFav: true,
								sex: "F",
							},
							{
								name: "Damian Lewis",
								role: "Nicholas Brody",
								isFav: false,
								sex: "M",
							},
							{
								name: "Mandy Patinkin",
								role: "Saul Berenson",
								isFav: true,
								sex: "M",
							},
							{
								name: "Morena Baccarin",
								role: "Jessica Brody",
								isFav: false,
								sex: "F",
							},
						],
					};
				},
				methods: {
					toggleFav(person) {
						person.isFav = !person.isFav;
					},
				},
			});
			app.mount("#app");
		</script>
		<style>
			li {
				background-color: #ddd;
				margin: 20px auto;
				padding: 10px;
				width: 100%;
				text-align: center;
				list-style: none;
			}
			.fav {
				background-color: pink;
			}
		</style>
	</body>
</html>
